<%- include ('partials/header.ejs') %>
<div class="container">
    <div class="allRecentPost">
        <h1>LIST OF RECENT POSTS</h1>
        <div class="listOfrecentpost">
          <% for(x=0; x<threadlist.length; x++){%>
            <div class="row">
              <div class="col-sm" style="background-color:yellow;">
                <h3><strong></strong>  </h3>
              </div>
              <div class="col-sm" style="background-color:orange;">
                <h3><strong> <%-threadlist[x].thread_title%></strong>  </h3>
              </div>
              <div class="col-sm" style="background-color:yellow;">25%</div>
              <div class="col-sm" style="background-color:orange;"><%-threadlist[x].createdAt%></div>
            </div>
            <hr>
            <%}%>  
        </div> 
          
      </div>
</div>

<%- include ('partials/footer.ejs') %>